.leaf{
    background-color: green;
    font-weight: 100px;
    font-size: 150px;
}

.roots p{
    background-color: blueviolet;
    font-size: 160px;
}

.trunks h1{
    font-style: italic;
}

.leaves h1, h2, p{
    background-color: red;
}

body{
    background-image: url(./Images/MS_Static.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.ground p{
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    text-shadow: none;
    text-indent: 0;
    text-decoration-line: overline;
}

.box{
    margin: 30px;
    border: 20px solid purple;
    padding: 40px;
    width: 400px;
    height: 600px;
    margin-left: 590px;
}